{% extends "base.html.twig" %}
{% block body %}
	{% block content %}{% endblock %}
	{% block footer %}
		<div class="row footer">
			<div class="col-md-12 p-5 plr-6">
				<h1 class="text-center text-monst-bold text-medium mt-5 mb-5">Want to Buy or Sell Your Property?</h1>
				<p class="footer-desc text-center text-monst-light text-small mt-5 mb-5">
					Lorem ipsum dolor sit amet,Stet clita kasd gubergren, no sea takimata sanctus est is the lorem ipsum dolor sit amet. sed diam nonumy ut labore et dolore s the magna aliquyam.
				</p>
				<p class="action-btns d-flex align-items-center justify-content-center mt-5 mb-5">
					<button class="btn bg-orange-primary text-monst-bold text-white text-small d-block m-3">Buying Property</button>
					<span class="inline-separator-small"></span>
					<button class="btn bg-orange-primary text-monst-bold text-white text-small d-block m-3">Selling Property</button>
				</p>
				<div class="inline-separator-big mt-5 mb-5"></div>
				<div class="footer-links d-flex">
					<div class="flex-2">
						<img src="./images/logo.svg" alt=""/>
						<h3 class="text-monst-bold">PlaceTogether</h3>
						<a class="share-btn" href="#"><img width="7" src="./images/facebook.svg" alt=""/></a>
						<a class="share-btn" href="#"><img width="15" src="./images/google-plus.svg" alt=""/></a>
						<a class="share-btn" href="#"><img width="13" src="./images/instagram.svg" alt=""/></a>
					</div>
					<div class="flex-1"></div>
					<div class="flex-1"></div>
					<div class="flex-1"></div>
					<div class="flex-2"></div>
				</div>
				<div class="inline-separator-big mt-5 mb-5"></div>
			</div>
		</div>
	{% endblock %}
{% endblock %}
